{% load static %}
{% load obfuscator %}

<!-- Place text to encode in between the {% obfuscate %} and {% endobfuscate %} template tags,
then embed it into an Html element with the id "obfuscated", that will will be "deobfuscated"
using Javascript  -->

<div id="obfuscated">
  {% obfuscate %}
  Text difficult to scrape.
  {% endobfuscate %}
</div>

<!-- Javascript file that will deobfuscate the obfuscated text by the template tags -->
<script src="{% static 'js/django_template_obfuscator.js' %}"></script>
