{% load static %}
{% load obfuscator %}

<!-- Place text to encode in between the {% obfuscate %} and {% endobfuscate %} template tags,
then embed it into an Html element with the "obfuscated" class, that will will be "deobfuscated"
using Javascript  -->

<!-- Javascript file that will deobfuscate the obfuscated text by the template tags -->
<link rel="stylesheet" href="{% static 'css/django_template_obfuscator.css' %}">

<p class="obfuscated">
  {% obfuscate %}
  Text difficult to scrape.
  {% endobfuscate %}
</p>

<p class="obfuscated">
  {% obfuscate %}
  This text as well.
  {% endobfuscate %}
</p>

<!-- CSS that prevents the user from copying the text -->
<script src="{% static 'js/django_template_obfuscator.js' %}"></script>
